@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic);

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
  background: #f1eddb;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 2.5em;
  margin: 0 0 0.5em;
}

h1.withsubtitle {
  font-size: 2.8em;
  font-weight: 900;
  margin: 0;
}

h2 {
  margin: 1em 0 0.5em;
}

h3 {
  margin: 1em 0 0.5em;
}

p {
  margin: 0.5em 0 1em;
}

a {
  color: #c02944;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

iframe {
  border: 0;
  margin: 20px 0 10px;
}

.subtitle {
  font-size: 1.4em;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 1em;
}

#container {
  background: url(../images/banner.png) 0 -170px no-repeat;
  width: 1100px;
  padding: 0 50px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 200px;
  margin: 0 auto;
}

nav {
  padding-top: 55px;
  float: right;
  margin-right: 10px;
}

main {
  padding: 25px;
  background: white;
  background: rgba(255,255,255,0.8);
}

aside {
  float: right;
  width: 260px;
  border: 4px solid #f1eddb;
  padding: 8px 15px 0;
  margin: 70px 0 40px 25px;
}

footer {
  text-align: center;
  font-size: 12px;
  margin: 40px 0 40px;
}
footer img {
  display: block;
  margin: 4px auto 0;
  width: 40px;
}

/*
 * Header
 */

#homelink {
  display: block;
  height: 200px;
  width: 460px;
  text-indent: -9999px;
}

#navblock {
  float: right;
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  display: inline;
  list-style: none;
  margin: 0;
}

#headerlinks {
  background: #c02944;
  float: right;
  padding: 2px 4px 6px;
  border-radius: 0 0 4px 4px;
  overflow: auto;
}

#headerlinks a {
  text-decoration: none;
  color: #FFF;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  padding: 0 6px;
}

#headerlinks a:hover {
  text-decoration: underline;
}

#headerlinks .seperator {
  color: rgba(255,255,255,0.5);
}

nav li {
  float: left;
  margin-right: 10px;
  font-size: 1.3em;
  padding: 3px;
}

nav a {
  color: #444444;
  text-decoration: none;
  margin: 3px;
  border-bottom: 2px solid #c02944;
}

nav li:hover, nav li.current {
  background: #c02944;
  border-bottom: 2px solid #c02944;
}

nav li:hover a, nav li.current a {
  text-decoration: none;
  color: white;
}

/*
 * Content
 */

.notice {
  padding: 8px 6px;
  text-align: center;
  background: #ed9c28;
  background: rgba(237,156,40,0.9);
  color: white;
  font-size: 1.1em;
}

/*
 * Sidebar
 */

.aside-block {
  overflow: auto;
  height: 80px;
  padding: 16px 0;
}

.aside-block-title {
  /*font-weight: 900;*/
  font-size: 20px;
}
.aside-block-subtitle {
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
}

.goodman {
  background: url(../images/goodman.png) top right no-repeat;
}

.aside-courses {
  margin-bottom: 2em;
}

.aside-courses h3 {
  margin: 0.5em 0 0 0;
}

.aside-courses p {
  margin: 0.2em 0 0 0;
}

/*
 * Tables
 */

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

tr:nth-child(odd) > td {
  background-color: #f9f9f9;
}

th, td {
  padding: 8px;
  line-height: 1.45;
}

th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  font-weight: bold;
  text-align: center;
}

td {
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
